## Build output
bin/
obj/
artifacts/
[Dd]ebug/
[Rr]elease/
x64/
x86/

## Packages
*.nupkg
*.snupkg
project.lock.json

## Test
TestResults/
*.trx
coverage*.json
*.coverage

## IDE
.vs/
.vscode/
.idea/
_ReSharper*/
*.user
*.suo
*.userosscache
*.sln.docstates
*.DotSettings.user

## OS
.DS_Store
Thumbs.db
