@using Microsoft.Extensions.Localization
@using Dignite.Abp.NotificationCenter.Localization
@using Dignite.Abp.Notifications
@model UnsupportedNotificationData
@inject IStringLocalizer<NotificationCenterResource> L
<p class="dignite-notification-message dignite-notification-unsupported text-muted mb-0">
    @L["UnsupportedNotification"]
</p>
